.externalWrapper {
    background-color: black;
    color: #C0C0C0;
   
   justify-content: center;
}
.internalWrapper {
    max-width: 90%;
}
.logoWrapper {
    width: 13%;
    padding-left: 5%;
}
.border {
    padding-inline: 25px;
}
li, .logoWrapper.div, .border, .copy-right {
    font-size: 13px;
}